<div class = 'wrap' style = 'min-height: 500px'>
	
	<h1>Change Your Password</h1>
	<%= form_for @user, url: password_reset_path(@user.password_reset_token), html: { method: :patch } do |form| %>
	
		<div class="row">
			<div class="col-md-6">
                <div class="form-group">
                    <%= form.label :password %>
                    <%= form.password_field :password %>
                </div>
            </div>
	    </div>
		<div class="row">
			<div class="col-md-6">
                <div class="form-group">
                    <%= form.label :password_confirmation %>
                    <%= form.password_field :password_confirmation %>
                </div>
            </div>
	    </div>		
	    <div class="row">
	        <div class="form-group">
	            <div class="col-sm-offset-2 col-sm-10">
	                <%= submit_tag "Change Password" %>
	            </div>
	        </div>
	    </div>
	<% end %>
</div>

