<div class="col-md-4">
    <article class="zm-post-lay-a1">
        <div class="zm-post-thumb">
            <!--actual article image is failing right now-->
            <a href="<%= article_path(article) %>">
                <img src="<%=article.image%>" onerror="this.src='<%= asset_path 'homepage/news-substitute.jpg' %>'" alt="">
            </a> <!--"post/a/a1/9.jpg" -->
        </div>
        <div class="zm-post-dis">
            <div class="zm-post-header">
                
                <!--display article tags-->
                <div class="zm-category">
                    <% article.categories.each do |category| %>
                        <a class="bg-cat-3 cat-btn" href="<%=category_path(category)%>"><%=category.name%></a>
                    <% end %>
                    <% article.states.each do |state| %>
                        <a class="bg-cat-3 cat-btn" href="<%=state_path(state)%>"><%=state.name%></a>
                    <% end %>
                </div>
                <!--display article tags-->
                
                <h2 class="zm-post-title"><a href="<%= article_path(article) %>"><%= article.title.truncate(60) if article.title %></a></h2>
                <div class="zm-post-meta">
                    <ul>
                        <li class="s-meta">
                            <img class='inline' style='width: 40px; height: auto; display: none;' src = "<%= asset_path(article.source.sidebar_logo) if article.source %>">
                            <%= link_to article.source.name, source_path(article.source), class: 'zm-author' %>
                           
                        </li>
                        <li class="s-meta"><p class="zm-date" style="color: #7c8c99;"><%= time_ago_in_words(article.created_at) %> ago</p></li>
                        <!--<li class="s-meta"><a href="#" class="zm-date"></a></li>-->
                    </ul>
                    <div class = 'social-sharing' style="display: none;">
                        <%= social_share_button_tag(article.title, :url => "https://cannabiz-news.herokuapp.com/articles/#{article.id}", :image => "#{article.image}") %>
                    </div>
                </div>
            </div>
            <div class="zm-post-content">
                
                <%frag = Nokogiri::HTML(article.body)%>
                <%frag.xpath("//h1").each { |div|  div.name= "p"}%>
                <%frag.xpath("//h2").each { |div|  div.name= "p"}%>
                <%frag.xpath("//h3").each { |div|  div.name= "p"}%>
                <%frag.xpath("//h4").each { |div|  div.name= "p"}%>
                <%frag.xpath("//h5").each { |div|  div.name= "p"}%>
                <%frag.xpath("//h6").each { |div|  div.name= "p"}%>
                
                <%= truncate_html frag, :length => 175 %>
                
                <!-- have to get the non html version here-->
                
                <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printe</p>-->
            </div>
        </div>
    </article>
</div>