<div class="col-md-4">
    <article class="zm-post-lay-a1">
        <div class="zm-post-thumb">
            <!--actual article image is failing right now-->
            <a href="blog-single-image.html"><%= image_tag("post/a/a1/9.jpg") %></a>
        </div>
        <div class="zm-post-dis">
            <div class="zm-post-header">
                <div class="zm-category"><a href="#" class="bg-cat-3 cat-btn"><%= article.categories.first.name %></a></div>
                <h2 class="zm-post-title h2"><a href="blog-single-image.html"><%= article.title.truncate(60) if article.title %></a></h2>
                <div class="zm-post-meta">
                    <ul>
                        <li class="s-meta">
                            <img class='inline' style='width: 40px; height: auto' src = "<%= asset_path(article.source.sidebar_logo) if article.source %>">
                            <a href="#" class="zm-author"><%= article.source.name %></a>
                        </li>
                        <li class="s-meta"><a href="#" class="zm-date"><%= time_ago_in_words(article.created_at) %> ago</a></li>
                    </ul>
                    <div class = 'social-sharing'>
                        <%= social_share_button_tag(article.title, :url => "https://cannabiz-news.herokuapp.com/articles/#{article.id}", :image => "#{article.image}") %>
                    </div>
                </div>
            </div>
            <div class="zm-post-content">
                <!-- have to get the non html version here-->
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printe</p>
            </div>
        </div>
    </article>
</div>