<%= render 'shared/errors', obj: @article %>

<div class='row'>
    <div class='col-xs-12'>
        <%= form_for(@article, :html => {class:"form-horizontal", role: "form"}) do |f| %>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :title %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_field :title, class: "form-control", placeholder: "Title", autofocus: true %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :image %>
                </div>
                <div class="col-sm-8">
                    <%= f.file_field :image %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :web_url %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_field :web_url, class: "form-control", placeholder: "Web Url", autofocus: true %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <b>Include in Weekly Digest?</b>
                </div>
                <div class="col-sm-8">
                    False: <%= f.radio_button :include_in_digest, false, :checked => true , :value => false %>  True: <%= 
                                    f.radio_button :include_in_digest, true, :value => true %>
                </div>
            </div> 
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :date %>
                </div>
                <div class="col-sm-8">
                    <%= f.datetime_select(:date, :order => [:month, :day, :year]) %>
                </div>
            </div>
            <div class="form-group">
            <div class="row">
                <div class="control-label col-sm-2">
                    <b>Source</b>
                </div>
               <div class="col-sm-8">
                 <%= f.collection_select :source_id, Source.all, :id, :name, :include_blank =>true %>
               </div>
             </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :abstract %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_area :abstract, rows: 4, class: "form-control", placeholder: "Abstract" %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :body %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_area :body, rows: 10, class: "form-control", placeholder: "Body" %>
                </div>
            </div>
            <div class="form-group">
             <div class="row">
                 <div class="control-label col-sm-2">
                    <b>Categories</b>
                </div>
               <div class="col-sm-8">
                 <%= f.collection_check_boxes :category_ids, @news_categories, :id, :name do |cb| %>
                   <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
                 <% end %>
               </div>
             </div>
           </div>
           <div class="form-group">
             <div class="row">
                 <div class="control-label col-sm-2">
                    <b>States</b>
                </div>
               <div class="col-sm-8">
                 <%= f.collection_check_boxes :state_ids, State.all, :id, :name do |cb| %>
                   <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
                 <% end %>
               </div>
             </div>
           </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <%= f.submit class: 'btn btn-lg btn-xlarge'%>
                </div>
            </div>
        <% end %>
        <div class="center">
            <%= link_to 'Return to Article Listing', article_admin_path %>
        </div>
    </div>
</div>