<div class = 'article-page-heading'>
    <!--put the background image in here-->
</div>

<div class = 'article-right-sidebar'>
    <h1 class = 'article-right-sidebar-title'>Related News</h1>
    
    <% @related_articles.each do |article| %>
        <div class = 'related-article' style = "<% if article.image %> background: url('<%= article.image %>'), url('<%= asset_path 'homepage/news-substitute.jpg' %>'); <% else %> background: url('<%= asset_path 'homepage/news-substitute.jpg' %>') <% end %>;">
            <div class = 'article-image'></div>
            
            <div class = 'article-date'>
                <%= time_ago_in_words(article.created_at) %> ago
            </div>
            
            <div class = 'article-bottom'>
                <div class = 'single-article-title'>
                    <h1><%= article.title.truncate(60) if article.title %></h1>
                </div>
                <div class = 'article-source'>
                    <img src = "<%= asset_path(article.source.article_logo) if article.source %>">
                </div>
                <div class = 'article-category'>
                    
                </div>
            </div>            
        </div>
    <% end %>
    
    <div class = 'more-from-same-source'>
        <h2>More From <%= @article.source.name if @article.source %></h2>
        
        <% @same_source_articles.each do |article| %>
            <p><%= link_to article.title, article_path(article)%></p>
        <% end %>
        
    </div>
</div>

<div class = 'article-wrap'>
    <div class = 'article-big-image'>
        <% if @article.image != nil && @article.source != 'Marijuana Business Daily' %>
            <%= image_tag(@article.image) %>
        <% else %>
            <%= image_tag("article-pages/news-substitute.jpg") %>
        <% end %>
    </div>
    <div class = 'article-title'>
        <h1><%=@article.title%></h1>
    </div>
    <div class = 'article-date'>
        <p><%= @article.date.strftime("%B %d, %Y | %I:%M %p") %></p>
    </div>
    <div class = 'article-body'>
        
        <%= simple_format(@article.body) %>
    </div>
    
    <div class = 'below-article'>
        
        <div class = 'below-article-source'>
            <div class = 'below-article-header'><h2>Source</h2></div>
            <img src = "<%= asset_path(@article.source.article_logo) if @article.source %>"> <%= link_to @article.title, @article.web_url, target: "_blank" %>
        </div>
        <div class = 'below-article-tags'>
            <div class = 'below-article-header'><h2>Tags</h2></div>
            <% @article.categories.each do |category| %>
                <div class = 'below-article-tag'>
                    <a href="<%=category_path(category)%>"><%=category.name%></a>
                </div>
            <% end %>
            
            <% @article.states.each do |state| %>
                <div class = 'below-article-tag'>
                    <a href="<%=state_path(state)%>"><%=state.name%></a>
                </div>
            <% end %>
        </div>
        <div class = 'below-article-back'>
            <%= link_to '<--- Back to News', root_path %>
        </div>
    </div>
</div>

