<style>
	
	#hashtags {margin: 20px 0;}
		#hashtags p {cursor: pointer; line-height: 200%; border-bottom: 1px solid black; padding-left: 10px;}
		#hashtags h3 {text-align: center; font-weight: bold; font-size: 20px;}
		
	.source-hashtags, .our-hashtags {width: 48%; display: inline-block; vertical-align: top; 
										border: 1px solid black;}
										
	#character-count p {text-align: center;}
	
	#tweet-textbody {width: 100%;}
	#sendTweetButton {display: block; width: 100%;}
										
	.source-hashtags h3, .our-hashtags h3 {}
	.source-hashtags p, .our-hashtags p {}
	
</style>

<div class = 'wrap'>
	
	<h1>Send Tweet:</h1>

	<div id = 'hashtags'>
		<div class = 'source-hashtags'>
			<h3>Source Hashtags:</h3>
			<% @article.source.hashtags.each do |hashtag| %>
				<p onclick='addText("<%=hashtag.name%>")'><%=hashtag.name%></p>
			<% end %>	
		</div>
		<div class = 'our-hashtags'>
			<h3>Our Hashtags:</h3>
			<% Hashtag.all.each do |hashtag| %>
			
				<% if hashtag.sources.blank? %>
					<p onclick='addText("<%=hashtag.name%>")'><%=hashtag.name%></p>	
				<% end %>
			<% end %>
				
		</div>		
	</div>
	
	<div id = 'character-count'>
		<p>Character Count: <span id = 'count'></span></p>
	</div>

	<form class="navbar-form inline" role="search" method="get" action = '/send_tweet'>
        <textarea class="form-control" rows="5" id="tweet-textbody" name='tweet_body' onkeyup = "characterCount()"
		><%=@article.source.name%>: <%=@article.title.truncate(60)%> <%=@bitlyLink%>
		</textarea>
		<!--hidden article id-->
		<input type = 'hidden' value = "<%=@article.id%>" name ='id'>
        <input type = 'submit' id = 'sendTweetButton' class = "btn btn-default btn-green-touching" value = 'Send Tweet' />
    </form>	
	
</div>

<script>

	characterCount();
	// call the character counter as soon as page loads
	function characterCount() {
		document.getElementById("count").innerHTML = document.getElementById("tweet-textbody").innerHTML.length;
	}
	
	function addText(text) {
		var newText = document.getElementById('tweet-textbody').innerHTML;
		var trimText = newText.trim()
		
		document.getElementById("tweet-textbody").innerText = trimText + ' #' + text;
		characterCount();
	}
	
</script>