<div class="col-md-3 productspacer disp-product">
	
	<!--product image-->
	<a href="<%= product_path(dispProduct.product) %>">
    	<% if dispProduct.product.image.present? && Rails.env.production? %>
    	    <img src="<%=dispProduct.product.image_url(:product_show)%>" onerror="this.src='<%= asset_path 'substitutes/product-substitute.jpg' %>'" alt="<%=dispProduct.product.name%>">
    	<% else %>
    	    <%= image_tag('substitutes/product-substitute.png') %>
    	<% end %>
    </a>

    <div class="description">
        <!-- Start single productitem-->
        <article class="overflow">                                     
            <div class="zm-post-dis">
                <div class="zm-post-header">

                    <h5 class="h5height">
                        <%= link_to dispProduct.product.name.truncate(20), product_path(dispProduct.product)%>
                    </h5>
                    <div class="price">
                        <% dispProduct.dsp_prices.each do |price_row| %>
                            $<%=price_row.price%> per <%=price_row.unit%></br>
                        <% end %>
                                
                        <% if dispProduct.dsp_prices.empty? %>
                            No Prices Given
                        <% end %>
                    </div>
                </div>
                <!--<div class="soldby">-->
                <!--    Produced by <a href="#">Dispensary Name</a>-->
                <!--</div>-->
            </div>
        </article>
        <!-- End single productitem-->
    </div>
</div>