<div class="col-md-3 productspacer disp-product">
	
	<!--product image-->
	<a href="<%= product_path(dispProduct.product) %>">
    	<% if dispProduct.product.image.present? && Rails.env.production? %>
    	    <img src="<%=dispProduct.product.image_url(:product_show)%>" onerror="this.src='<%= asset_path 'substitutes/product-substitute.jpg' %>'" alt="<%=dispProduct.product.name%>">
    	<% else %>
    	    <%= image_tag('substitutes/product-substitute.png') %>
    	<% end %>
    </a>

    <div class="description">
        <!-- Start single productitem-->
        <article class="overflow">                                     
            <div class="zm-post-dis">
                <div class="zm-post-header">

                    <h5 class="h5height">
                        <%= link_to dispProduct.product.name.truncate(20), product_path(dispProduct.product)%>
                    </h5>
                    <div class="price">
                            <% if dispProduct.price_gram.present? && dispProduct.price_gram != 0.0%>
                                $<%=dispProduct.price_gram%> for 1 gram <br/>
                                <% price_given = true %>
                            <% end %>
                            <% if dispProduct.price_two_grams.present? && dispProduct.price_two_grams != 0.0%>
                                $<%=dispProduct.price_two_grams%> for 2 grams <br/>
                                <% price_given = true %>
                            <% end %>
                            <% if dispProduct.price_eighth.present? && dispProduct.price_eighth != 0.0%>
                                $<%=dispProduct.price_eighth%> for 1/8th <br/>
                                <% price_given = true %>
                            <% end %>
                            <% if dispProduct.price_quarter.present? && dispProduct.price_quarter != 0.0%>
                                $<%=dispProduct.price_quarter%> for 1/4th <br/>
                                <% price_given = true %>
                            <% end %>
                            <% if dispProduct.price_half_ounce.present? && dispProduct.price_half_ounce != 0.0%>
                                $<%=dispProduct.price_half_ounce%> for 1/2 ounce <br/>
                                <% price_given = true %>
                            <% end %>
                            <% if dispProduct.price_ounce.present? && dispProduct.price_ounce != 0.0 %>
                                $<%=dispProduct.price_ounce%> for 1 ounce <br/>
                                <% price_given = true %>
                            <% end %>
                        
                        <% if price_given == false %>
                            No Prices Given
                        <% end %>
                    </div>
                </div>
                <!--<div class="soldby">-->
                <!--    Produced by <a href="#">Dispensary Name</a>-->
                <!--</div>-->
            </div>
        </article>
        <!-- End single productitem-->
    </div>
</div>