<!--query the articles where include_in_digest = true, set them to false-->

<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
		
		<!-- have to style right on the page-->
		<style>
			.digest-header {text-align: center;}
			.digest-body img {width: 50%; height: auto;} 
			
		</style>
	</head>
	<body>
		<div class = 'digest-header'>
			<h1>The Cannabiz Network Weekly Roll Up</h1>
		</div>
		<div class = 'digest-body'>
			<% Article.where(include_in_digest: true).each do |article| %>
    		
	    		<a href = 'http://cannabiz-news.herokuapp.com/articles/<%= article.id%>' target="_blank">
			        <div class = 'homepage-article <%=article.source.name.downcase.tr(" ", "_") if article.source 
			            %><%article.categories.each do |category| 
			                %> <%=category.name.downcase.tr(" ", "_")
			                %><%end
			            %><%article.states.each do |state|
			                %> <%=state.name.downcase.tr(" ", "_")
			                %><%end%>'>
			    
			            
			            <div class = 'homepage-article-image'>
			                <% if article.source && article.source.name == 'Marijuana Business Daily' %>
			                    <%= image_tag("homepage/news-substitute.jpg") %>
			                <% else %>
			                    <img src="<%= article.image %>" onError="dispIndexImageError(this);"> <!--class="img-thumbnail rounded" alt="..." -->
			                <% end %>
			            </div>
			            
			            <div class = 'homepage-article-date'>
			                <%= time_ago_in_words(article.created_at) %> ago
			            </div>
			            
			            <div class = 'homepage-article-bottom'>
			                <div class = 'homepage-article-title'>
			                    <h1><%= article.title.truncate(60) if article.title %></h1>
			                </div>
			                <div class = 'homepage-article-source'>
			                    <img src = "<%= asset_path(article.source.article_logo) if article.source %>">
			                </div>
			                <div class = 'homepage-article-category'>
			                        
			                </div>
			            </div>
			        </div>
			    </a>
			    
			    <!--set the article to include in digest false -->
			    <!--this is breaking the digest for some reason (maybe I need to do this after the fact)-->
			    <% 
			    	#article.include_in_digest = false 
			    	#article.save	
			    %>
			    
  			<% end %>
		</div>
		
		<div class = 'unsubscribe'>
			<p>To Unsubscribe from this Digest, <%= link_to "Click Here", unsubscribe_path(id = "A43d#{@user.id}g2f4") %> </p>
		</div>
	</body>
</html>