<!--query the articles where include_in_digest = true, set them to false-->

<!--visit test page: paste this at end of URL: /rails/mailers/weekly_digest/sample_mail_preview -->

<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
		
		<meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>CannabizNetwork</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">-->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>-->
		
		<!-- style on the page-->
		<style>
		
		    body {
                font-family: 'Open Sans', sans-serif;
                font-size: 12px;
                color: #3b5265;
                line-height: 1.7rem;
                font-weight: 400;
                -webkit-font-smoothing: antialiased;
            }
            
            h1, h2, h3, h4, h5, h6, p, ul, a {
                margin: 0;
                padding: 0;
            }
            
            a {
                text-decoration: none;
            }
            h2 {
                font-variant-ligatures: common-ligatures;
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 700;
            }
            
            .ptb-15 { padding: 15px 0 }
            .mt-40 { margin-top: 40px }
            .mb-40 { margin-bottom: 40px }
            
            .bg-white {
                background: #fff !important;
            }
            .bg-white p, .bg-white span, .bg-white ul, .bg-white a:not(.cat-btn), {
                color: #3b5265;
            }
            
            .bg-white h1, .bg-white h2, .bg-white h3, .bg-white h4, .bg-white h5, .bg-white h6, .bg-white i {
                color: #2f2f2f;
            }
            
            .container {
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
            }
            
            .container:before, .container:after, .row:before, .row:after {
                display: table;
                content: " ";
            }
            
            .container:after {
                clear: both;
            }
            
            /*container width*/
            @media (min-width: 768px) {
                .container {
                    width: 750px;
                }
            }
            @media (min-width: 992px) {
                .container {
                    width: 970px;
                }
            }
            @media (min-width: 1200px) {
                .container {
                    width: 1170px;
                }
            }
            @media (min-width: 1400px) {
                .container {
                    width: 1370px;
                }
            }
            @media (min-width: 1366px) {
                .container {
                    width: 1350px;
                }
            }
            
            .page-content > .row {
                margin-left: 0px !important;
                margin-right: 0px !important;
                margin-top: 30px;
            }
            
            .row {
                margin-right: -15px;
                margin-left: -15px;
            }
            
            .col-md-4, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                position: relative;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
            }
            
            .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                float: left;
                width: 100%;
            }
            
            .section-title {
                position: relative;
                z-index: 1;
            }
            .section-title::after {
                bottom: 0;
                content: "";
                height: 1px;
                left: 0;
                position: absolute;
                width: 100%;
                z-index: -1;
            }
            .bg-white .section-title::after,
            .section-title::after {
                background: #e6e6e6 none repeat scroll 0 0;
            }
            
            .zm-posts .zm-post-lay-a1 {
                margin-bottom: 30px;
            }
            
            .clearfix:before,
            .clearfix:after {
                display: table;
                content: " ";
            }
            
            .zm-post-thumb img {
                width: 100%;
                height: 230px;
                border: .5px solid #7c8c99;
            }
            
            .zm-post-thumb a {
                display: block;
            }
            
            .zm-post-lay-a1 .zm-post-dis .h2.zm-post-title{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            
            .zm-post-header {
                padding: 25px 0 15px;
            }
            
            .zm-category {
                line-height: 1;
                height: 28px;
                overflow: hidden;
            }
            
            .bg-cat-3{
                background-color: #f2b718;
            }
            
            .cat-btn {
                border-radius: 2px;
                display: inline-block;
                font-family: roboto condensed;
                font-size: 12px;
                font-weight: 700;
                height: 20px;
                line-height: 20px;
                padding: 0 10px;
                position: relative;
                text-transform: uppercase;
                transition: all 0.3s ease 0s;
                z-index: 1;
                margin-bottom: 8px;
                color: #fff;
            }
            .cat-btn::before {
                background: #000 none repeat scroll 0 0;
                border-radius: 2px;
                content: "";
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                transition: all 0.3s ease 0s;
                width: 100%;
                z-index: -1;
            }
            .cat-btn:hover {
                color: #fff;
            }
            .cat-btn:hover::before {
                opacity: 0.2;
            }
            
            .zm-post-title {
                font-size: 20px;
                line-height: 30px;
                min-height: 68px;
            }
            
            .zm-post-title a {
                color: inherit !important;
            }
            
            .zm-post-lay-a1 .zm-post-meta {
                margin-top: 10px;
            }
            
            .s-meta {
                margin: auto 8px;
                padding: 0 8px;
                position: relative;
                display: inline-block;
            }
            .s-meta:first-child {
                margin-left: 0;
                padding-left: 0;
            }
            .s-meta:last-child {
                margin-right: 0;
                padding-right: 0;
            }
            
            .text-white .s-meta::after {
                color: #fff;
            }
            
            .zm-post-lay-a1 .zm-post-content p, .zm-post-lay-a1 .zm-post-content h2,
            .zm-post-lay-a1 .zm-post-content h3, .zm-post-lay-a1 .zm-post-content h4,
            .zm-post-lay-a1 .zm-post-content h5, .zm-post-lay-a1 .zm-post-content h6
            .zm-post-lay-a1 .zm-post-content {
                font-family: 'Open Sans', sans-serif;
                font-size: 12px;
                color: #3b5265;
                font-weight: 400;
                line-height: 1.7rem;
                margin: 0;
                padding: 0;
                display: inline-block;
            }
            
            .zm-posts .zm-post-lay-a1 {
                margin-bottom: 30px;
                max-height: 488px;
                overflow: hidden;
                position: relative;
            }
            
            .unsubscribe {
                border-top: 1px solid #e6e6e6; 
                width: 98%; 
                margin: 20px auto;
                clear: both;
                text-align: center;
                padding-top: 10px;
            }
            .archive-image {
                float: left;
                width: 300px;
            } 
            .archive-filter {
                float: right;
                text-align: right;
                margin-top: 40px;
            }
            
            /*make the header 2 rows*/
            @media (max-width: 580px) {
                .archive-image {
                    float: none !important;
                    width: 100% !important;
                    text-align: center;
                }
                .archive-image img {
                    width: 75%;
                }
                .archive-filter {
                    float: none !important;
                    width: 100% !important;
                    text-align: center !important;
                }
            }
            
            /*make the articles responsive*/
            .col-md-4 {
                width: 30%;
                float: left;
                position: relative;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
            }
            
            @media (max-width: 1218px) {
                .col-md-4 {
                    width: 46% !important;
                }
            }
            
            @media (max-width: 784px) {
                .col-md-4 {
                    width: 95% !important;
                    margin: 0 auto;
                }
                .zm-post-thumb img {
                    height: auto !important;
                }
                
                .zm-posts .zm-post-lay-a1 {
                    max-height: none !important;
                }
            }

		</style>
	</head>
	<body>
		
		<div class="wrapper">
			
            <!-- Start page content -->
            <section id="page-content" class="page-wrapper archive">
                <div class="zm-section single-post-wrap archive-2 bg-white ptb-15">
                    <div class="container">
                        <div class="row">
                            <!-- Start left side -->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columns">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="archive-inner">
                                            <div class = "archive-image">
                                                <%= link_to image_tag("header_footer/cbz-logo-color.svg"), root_path %>
                                            </div>
                                            <div class="archive-filter">
                                                <h3>The Cannabiz Network Weekly Roll Up</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                                
                                <div class="row mt-40">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="row mb-40">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="section-title">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="zm-posts clearfix">
                                                <% Article.where(include_in_digest: true).each do |article| %>
                                                
                                                    <div class="col-md-4">
                                                        <article class="zm-post-lay-a1">
                                                            
                                                            <div class="zm-post-thumb">
                                                                <a href = 'https://cannabiz-news.herokuapp.com/articles/<%= article.id%>' target="_blank">
                                                                    <img src="<%=article.image%>" onerror="this.src='<%= asset_path 'homepage/news-substitute.jpg' %>'" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="zm-post-dis">
                                                                <div class="zm-post-header">
                                                                    
                                                                    <!--display article tags-->
                                                                    <div class="zm-category">
                                                                        <% article.categories.each do |category| %>
                                                                            <a class="bg-cat-3 cat-btn" href = 'https://cannabiz-news.herokuapp.com/articles/<%= article.id%>' target="_blank"><%=category.name%></a>
                                                                        <% end %>
                                                                        <% article.states.each do |state| %>
                                                                            <a class="bg-cat-3 cat-btn" href = 'https://cannabiz-news.herokuapp.com/articles/<%= article.id%>' target="_blank"><%=state.name%></a>
                                                                        <% end %>
                                                                    </div>
                                                                    <!--display article tags-->
                                                                    
                                                                    <h2 class="zm-post-title"><a href = 'https://cannabiz-news.herokuapp.com/articles/<%= article.id%>' target="_blank"><%= article.title.truncate(60) if article.title %></a></h2>
                                                                    <div class="zm-post-meta">
                                                                        <ul>
                                                                            <li class="s-meta">
                                                                                <img class='inline' style='width: 40px; height: auto; display: none;' src = "<%= asset_path(article.source.sidebar_logo) if article.source %>">
                                                                                 <a class="zm-author" href = 'https://cannabiz-news.herokuapp.com/articles/<%= article.id%>' target="_blank"><%=article.source.name%></a>
                                                                            </li>
                                                                            <li class="s-meta"><p class="zm-date" style="color: #7c8c99;"><%= time_ago_in_words(article.created_at) %> ago</p></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="zm-post-content">
                                                                    
                                                                    <%frag = Nokogiri::HTML(article.body)%>
                                                                    <%frag.xpath("//h1").each { |div|  div.name= "p"}%>
                                                                    <%frag.xpath("//h2").each { |div|  div.name= "p"}%>
                                                                    <%frag.xpath("//h3").each { |div|  div.name= "p"}%>
                                                                    <%frag.xpath("//h4").each { |div|  div.name= "p"}%>
                                                                    <%frag.xpath("//h5").each { |div|  div.name= "p"}%>
                                                                    <%frag.xpath("//h6").each { |div|  div.name= "p"}%>
                                                                    
                                                                    <%= truncate_html frag, :length => 175 %>
                                    
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </div>          
                                                    
                                                <% end %>
                                            </div>
                                            <div class = 'unsubscribe'>
            									<p>To Unsubscribe from this Digest, <%= link_to "Click Here", "cannabiz-news.herokuapp.com/unsubscribe?id=A43d#{@user.id}G2f4" %> </p>
            								</div>
                                        </div> <!-- end article display row
                                    </div>
                                </div>
                            </div>
                            <!-- End left side -->
                    </div>
                </div>
            </section>
            <!-- End page content -->			
			
		</div> <!-- end wrapper -->
	</body>
</html>