    <h1>Rating</h1>
    <% @disp_by_rating.each do |dispensary| %>
      
      <div class = 'homepage-deal <%= cycle('one', 'two', 'three', 'four') %>'>
        <div class ='homepage-deal-image'>
          <%= image_tag dispensary.image %>
        </div>
        <div class = 'homepage-deal-content'>
          <p class = 'homepage-deal-title'><%= dispensary.name %></p>
          <p class = 'homepage-deal-dispensary dispensary-location-higher'>
            <%= dispensary.city %>, <%= dispensary.state.abbreviation %>
          </p>
          <p class = 'dispensary-list-rating'>[insert rating]</p>
          <% if ((Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%A" ) == 'Monday' && dispensary.mondayOpenTime && Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%H%M%S%N" ) >= dispensary.mondayOpenTime.strftime( "%H%M%S%N") && dispensary.mondayCloseTime && Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%H%M%S%N" ) < dispensary.mondayCloseTime.strftime( "%H%M%S%N" )) || (Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%A" ) == 'Tuesday' && dispensary.tuesdayOpenTime && Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%H%M%S%N" ) >= dispensary.tuesdayOpenTime.strftime( "%H%M%S%N") && dispensary.tuesdayCloseTime && Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%H%M%S%N" ) < dispensary.tuesdayCloseTime.strftime( "%H%M%S%N" )) || (Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%A" ) == 'Wednesday' && dispensary.wednesdayOpenTime && Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%H%M%S%N" ) >= dispensary.wednesdayOpenTime.strftime( "%H%M%S%N") && dispensary.wednesdayCloseTime && Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%H%M%S%N" ) < dispensary.wednesdayCloseTime.strftime( "%H%M%S%N" )) || (Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%A" ) == 'Thursday' && dispensary.thursdayOpenTime && Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%H%M%S%N" ) >= dispensary.thursdayOpenTime.strftime( "%H%M%S%N") && dispensary.thursdayCloseTime && Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%H%M%S%N" ) < dispensary.thursdayCloseTime.strftime( "%H%M%S%N" )) || (Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%A" ) == 'Friday' && dispensary.fridayOpenTime && Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%H%M%S%N" ) >= dispensary.fridayOpenTime.strftime( "%H%M%S%N") && dispensary.fridayCloseTime && Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%H%M%S%N" ) < dispensary.fridayCloseTime.strftime( "%H%M%S%N" )) || (Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%A" ) == 'Saturday' && dispensary.saturdayOpenTime && Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%H%M%S%N" ) >= dispensary.saturdayOpenTime.strftime( "%H%M%S%N") && dispensary.saturdayCloseTime && Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%H%M%S%N" ) < dispensary.saturdayCloseTime.strftime( "%H%M%S%N" )) || (Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%A" ) == 'Sunday' && dispensary.sundayOpenTime && Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%H%M%S%N" ) >= dispensary.sundayOpenTime.strftime( "%H%M%S%N") && dispensary.sundayCloseTime && Time.zone.now.advance(hours: dispensary.timezone.eastern_difference).strftime( "%H%M%S%N" ) < dispensary.sundayCloseTime.strftime( "%H%M%S%N" )))%>
            <p class = 'dispensary-list-open'>OPEN</p>
          <% else %>
            <p class = 'dispensary-list-closed'>CLOSED</p>
          <% end %>
          <div class = 'homepage-deal-learnmore'>
            <%= link_to 'Learn More', dispensary %>  
          </div>
            <p class = 'dispensary-list-directions'>Get Directions</p>
          </div>
        </div>
    <% end %>