<div class = 'page-heading w-select news'>
    <div class = 'wrap'>
        <h1>News</h1>
        <div class="state-select">
          <div class="select-list inline">
            <ul>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @state.abbreviation%><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% State.all.each do |state| %>
                    <li><%= link_to "#{state.name}", news_path(:id => state) %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div> <!-- END SELECT LIST -->
          <!--
          <div class="branding inline">
            <p>Canna.BIZ<span>TM</span></p>
          </div> <!-- END BRANDING -->
          
        </div> <!-- END STATE SELECT -->
    </div>
</div>
<div class = 'state-news-featured-articles'>
  <div class = 'wrap'>
    <% @top_articles.each_with_index do |article, i| %>
        <% if i == 0 %>
        <div id = 'state-news-featured-toggle-one' onclick = 'showArticleOne()'>
            <% if article.categories.present? %>
                <p><%= article.categories.first.name %></p>
            <% end %>
            <h2><%= article.title %></h2>
            <p id = 'state-news-featured-date'><%= article.date.strftime("%B %d, %Y | %I:%M %p") %></p>
        </div>
      <% end %>
      <% if i == 1 %>
        <div id = 'state-news-featured-toggle-two' onclick = 'showArticleTwo()'>
            <% if article.categories.present? %>
                <p><%= article.categories.first.name %></p>
            <% end %>
            <h2><%= article.title %></h2>
            <p id = 'state-news-featured-date'><%= article.date.strftime("%B %d, %Y | %I:%M %p") %></p>
        </div>      
      <% end %>
      <% if i == 2 %>
        <div id = 'state-news-featured-toggle-three' onclick = 'showArticleThree()'>
            <% if article.categories.present? %>
                <p><%= article.categories.first.name %></p>
            <% end %>
            <h2><%= article.title %></h2>
            <p id = 'state-news-featured-date'><%= article.date.strftime("%B %d, %Y | %I:%M %p") %></p>
        </div>
      <% end %>  
    <% end %>
    <% @top_articles.each do |article| %>
      <div id = 'state-news-featured-article<%= cycle('one', 'two', 'three') %>'>
        <%= link_to image_tag(article.image), article_path(article) %>
        <h2><%= article.title.truncate(86) %></h2>
      </div>
    <% end %>
  </div>
</div>
<div class = 'wrap'>
  <% @second_articles.each do |article| %>
    <div class = 'homepage-article'>
      <%= link_to image_tag(article.image), article_path(article) %>
      <h2><%= link_to article.title.truncate(86), article_path(article) %></h2>
    </div>
  <% end %>
</div>

<div class = 'state-news-page-carousel'>
  <h3 align = 'center'>Most Popular</h3>
  <h1 align = 'center'>HAVE TO PUT CAROUSEL HERE</h1>
</div>

<div class = 'homepage-ad extra-margin-top'>
    <div class = 'wrap'>
        <%= image_tag("homepage/homepage-ad2.png") %>
    </div>
</div>

<div class = 'wrap'>
  <% @categories.each_with_index do |category, i| %>
    <% if i == 0 || i == 3 %>
      <div class = 'state-page-category-articles-left'>
        <div class = 'article-right-category-header'>
          <p id = 'articleCategoryHeaderLeft'><%= category.name %></p>
          <p id = 'articleCategoryHeaderRight'><%= link_to 'See All', category_path(category) %></p>            
        </div>
        <% category.articles.each_with_index do |article, j| %>
          <% break if j == 5; %>
          <% if j == 0 %>
            <div class = 'state-news-categories-big-article'>
              <%= link_to image_tag(article.image), article_path(article) %>
              <h2><%= link_to article.title, article_path(article) %></h2>            
            </div>
          <% end %>
          <% if j == 1 || j == 2 || j == 3 || j == 4%>
            <%=link_to article_path(article) do %>
              <div class = 'state-news-categories-small-article'>
                <%= image_tag(article.image) %>
                <div class = 'state-news-categories-small-text'>
                  <p class = 'state-news-categories-small-article-title'><%= article.title %></p>
                  <p class = 'state-news-categories-small-article-date'><%= article.date.strftime("%B %d, %Y | %I:%M %p") %></p>
                </div>
              </div>
            <% end %> 
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if i == 2 %>
      <div class = 'homepage-ad extra-margin-top'>
        <%= image_tag("homepage/homepage-ad3.png") %>
      </div>
    <% end %>    
    <% if i == 1 || i == 4 %>
      <div class = 'state-page-category-articles-right'>
        <div class = 'article-right-category-header'>
          <p id = 'articleCategoryHeaderLeft'><%= category.name %></p>
          <p id = 'articleCategoryHeaderRight'><%= link_to 'See All', category_path(category) %></p>            
        </div>
        <% category.articles.each_with_index do |article, j| %>
          <% break if j == 5; %>
          <% if j == 0 %>
            <div class = 'state-news-categories-big-article'>
              <%= link_to image_tag(article.image), article_path(article) %>
              <h2><%= link_to article.title, article_path(article) %></h2>            
            </div>
          <% end %>
          <% if j == 1 || j == 2 || j == 3 || j == 4%>
            <%=link_to article_path(article) do %>
              <div class = 'state-news-categories-small-article'>
                <%= image_tag(article.image) %>
                <div class = 'state-news-categories-small-text'>
                  <p class = 'state-news-categories-small-article-title'><%= article.title %></p>
                  <p class = 'state-news-categories-small-article-date'><%= article.date.strftime("%B %d, %Y | %I:%M %p") %></p>
                </div>
              </div>
            <% end %> 
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>