<div class = 'article <%=article.source.name.downcase.tr(" ", "_") if article.source 
            %><%article.categories.each do |category| 
                %> <%=category.name.downcase.tr(" ", "_")
                %><%end
            %><%article.states.each do |state|
                %> <%=state.name.downcase.tr(" ", "_")
                %><%end%>' style = "<% if article.image %> background: url('<%= article.image %>'), url('<%= asset_path 'homepage/news-substitute.jpg' %>'); <% else %> background: url('<%= asset_path 'homepage/news-substitute.jpg' %>') <% end %>;">
        
        <a href = '<%= article_path(article)%>'>
            
            <div class = 'article-date'>
                <%= time_ago_in_words(article.created_at) %> ago
            </div>
            
            <div class = 'article-bottom'>
                <div class = 'grid-article-title'>
                    <h1><%= article.title.truncate(60) if article.title %></h1>
                </div>
                <div class = 'article-source'>
                    <img src = "<%= asset_path(article.source.article_logo) if article.source %>">
                </div>
                <% if current_user && current_user.admin? %>
                    <div class = 'admin-twitter-share'>
                        <p class = 'admin-twitter-share-button'><%= link_to "SHARE", tweet_path(article) %></p>
                    </div>
                <% end %>
                <div class = 'article-category'>
                        
                </div>
            </div>
            </a>
        </div>