<script>
    function userArticleSave(elem, articleId) {
        <% if !logged_in? %>
            window.open('/login', '_self');
        <% else %>
            $.ajax({
                type: "PUT",
                url: "/user_article_save/" + articleId
	        });
        <% end %>
        console.log(elem.innerHTML);
        elem.innerHtml = 'Saved';
    }
</script>

<style>
    /*temp to hide most recents*/
    #article-index-views, .article-index-views-pagination {display: none;}
    .article-index-new-pagination, .article-index-views-pagination {clear: both; margin-left: 14px;}
</style>

<!-- Start page content -->
<section id="page-content" class="page-wrapper archive">
    <div class="zm-section single-post-wrap archive-2 bg-white ptb-15">
        <div class="container">
            <div class="row">
                <!-- Start left side -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columns">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="archive-inner">
                                <div class="archive-filter">
                                    <form action="#">
                                        <div class="sing-option zm-trending">
                                            <select name="Category" class="selectDropdown" data-live-search="true" onChange="window.location.href=this.value">
                                                <option value = "<%= root_path %>">Category</option>
                                                <% Category.all.order("name ASC").each do |category| %>
                                                    
                                                    <% if @category != nil && @category.name == category.name %>
                                                        <option value = "<%=category_path(category)%>" selected="selected"><%=category.name%></option>
                                                    <% else %>
                                                        <option value = "<%=category_path(category)%>"><%=category.name%></option>
                                                    <% end %>
                                                    
									        	<% end %>
                                            </select>
                                        </div>
                                        <div class="sing-option zm-state">
                                            <select name="State" class="selectDropdown" data-live-search="true" onChange="window.location.href=this.value">
                                            	<option value = "<%= root_path %>">State</option>
                                            	<% State.all.order("name ASC").each do |state| %>
                                            	
                                            	    <% if @state != nil && @state.name == state.name %>
                                                        <option value = "<%=state_path(state)%>" selected="selected"><%=state.name%></option>
                                                    <% else %>
                                                        <option value = "<%=state_path(state)%>"><%=state.name%></option>
                                                    <% end %>
   
									        	<% end %>
                                            </select>
                                        </div>
                                        <div class="sing-option zm-state">
                                            <select name="Source" class="selectDropdown" data-live-search="true" onChange="window.location.href=this.value">
                                                <option value = "<%= root_path %>">Source</option>
                                                <% Source.where(:active => true).order("name ASC").each do |source| %>
                                                
                                                    <% if @source != nil && @source.name == source.name %>
                                                        <option value = "<%=source_path(source)%>" selected="selected"><%=source.name%></option>
                                                    <% else %>
                                                        <option value = "<%=source_path(source)%>"><%=source.name%></option>
                                                    <% end %>
    
									        	<% end %>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if @state != nil || @category != nil || @source != nil || @searchQuery != nil %>
                        
                        <!--show what we are viewing-->
                        <div class="news-viewing-title-div" style="text-align: center; margin: 20px 0;">
                            <h3>Viewing news for: 
                                <span style = 'color: #2ab081;'>
                                    <% if @state != nil %> 
                                        <%= @state.name %> 
                                    <% end %> 
                                    <% if @category != nil %> 
                                        <%= @category.name %> 
                                    <% end %> 
                                    <% if @source != nil %> 
                                        <%= @source.name %> 
                                    <% end %> 
                                    <% if @searchQuery != nil %> 
                                        <%= @searchQuery %> 
                                    <% end %> 
                    
                                </span>
                            </h3>
                        </div>
                    
                    <% end %>
                    
                    
                    
                    <div class="row mt-40">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row mb-40">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="section-title">
                                        <h2 class="h6 inline-block uppercase header-button active-header-button" id = 'newest-button' onClick="changeSort('Newest')">Newest</h2>
                                        <h2 class="h6 inline-block uppercase header-button inactive-header-button" id = 'popular-button' onClick="changeSort('Popular')">Most Popular</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="zm-posts clearfix">
                                    
                                    <div id = 'article-index-new'>
                                        
                                        <% random_integer = rand(5..10) %>
                                        <% @recents.each_with_index  do |article, i| %>
                                        
                                            <% if @current_user && @current_user.admin? && i > 0 && (i == random_integer || i % random_integer == 0) %>
                                            
                                                <div class="col-md-4">
                                                    <article class="zm-post-lay-a1">
                                                        <div class="zm-post-thumb">
                                                            <% if i == random_integer %>
                                                                <div data-mantis-zone="article-replacement" id = 'mantis'style="height: 230px; !important"></div>
                                                            <% elsif i == random_integer * 2 %>
                                                                <div data-mantis-zone="article-replacement-2" id = 'mantis-1' style="height: 230px; !important"></div>
                                                            <% end %>
                                                        </div>
                                                        <div class="zm-post-dis">
                                                            <div class="zm-post-header">
                                                                
                                                                <!--display article tags-->
                                                                <div class="zm-category">
                                                                    <a class="bg-cat-3 cat-btn" href="#">Sponsored</a></a>
                                                                </div>
                                                                <!--display article tags-->
                                                                
                                                                <h2 class="zm-post-title">Add Sponsored By Mantis</h2>
                                                                <div class="zm-post-meta">
                                                                    <ul>
                                                                        <li class="s-meta"><p class="zm-date" style="color: #7c8c99;">Mantis</p></li>
                                                                        <li class="s-meta"><p class="zm-date" style="color: #7c8c99;">Now</p></li>
                                                                    </ul>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="zm-post-content">
                                                                Cannabiz Network is not affiliated with the sponsored content
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                                
                                                <div class="col-md-4">
                                                    <article class="zm-post-lay-a1">
                                                        
                                                        <div class="zm-post-thumb">
                                                            <a href="<%= article_path(article) %>">
                                                                <% if Rails.env.production? %>
                                                                    <img src="<%=article.image%>" onerror="this.src='<%= asset_path 'homepage/news-substitute.jpg' %>'" alt="<%=article.title%>">
                                                                <% else %> 
                                                                    <img src="">
                                                                <% end %>
                                                            </a>
                                                        </div>
                                                        <div class="zm-post-dis">
                                                            <div class="zm-post-header">
                                                                
                                                                <!--display article tags-->
                                                                <div class="zm-category">
                                                                    <% article.categories.each do |category| %>
                                                                        <a class="bg-cat-3 cat-btn" href="<%=category_path(category)%>"><%=category.name%></a>
                                                                    <% end %>
                                                                    <% article.states.each do |state| %>
                                                                        <a class="bg-cat-3 cat-btn" href="<%=state_path(state)%>"><%=state.name%></a>
                                                                    <% end %>
                                                                </div>
                                                                <!--display article tags-->
                                                                
                                                                <h2 class="zm-post-title"><a href="<%= article_path(article) %>"><%= article.title.truncate(60).titlecase if article.title %></a></h2>
                                                                <div class="zm-post-meta">
                                                                    <ul>
                                                                        <li class="s-meta">
                                                                            <img class='inline' style='width: 40px; height: auto; display: none;' src = "<%= asset_path(article.source.sidebar_logo) if article.source %>">
                                                                            <%= link_to article.source.name, source_path(article.source), class: 'zm-author' %>
                                                                           
                                                                        </li>
                                                                        <li class="s-meta"><p class="zm-date" style="color: #7c8c99;"><%= time_ago_in_words(article.created_at) %> ago</p></li>
                                                                        <!--<li class="s-meta"><a href="#" class="zm-date"></a></li>-->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="zm-post-content">
                                                                
                                                                <%frag = Nokogiri::HTML(article.body)%>
                                                                <%frag.xpath("//h1").each { |div|  div.name= "p"}%>
                                                                <%frag.xpath("//h2").each { |div|  div.name= "p"}%>
                                                                <%frag.xpath("//h3").each { |div|  div.name= "p"}%>
                                                                <%frag.xpath("//h4").each { |div|  div.name= "p"}%>
                                                                <%frag.xpath("//h5").each { |div|  div.name= "p"}%>
                                                                <%frag.xpath("//h6").each { |div|  div.name= "p"}%>
                                                                
                                                                <%= truncate_html frag, :length => 175 %>
                                                                
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            
                                            <% else %>
                                                <div class="col-md-4">
                                                    <article class="zm-post-lay-a1">
                                                        
                                                        <div class="zm-post-thumb">
                                                            <a href="<%= article_path(article) %>">
                                                                <% if Rails.env.production? %>
                                                                    <img src="<%=article.image%>" onerror="this.src='<%= asset_path 'homepage/news-substitute.jpg' %>'" alt="<%=article.title%>">
                                                                <% else %> 
                                                                    <img src="">
                                                                <% end %>
                                                            </a>
                                                        </div>
                                                        <div class="zm-post-dis">
                                                            <div class="zm-post-header">
                                                                
                                                                <!--display article tags-->
                                                                <div class="zm-category">
                                                                    <% article.categories.each do |category| %>
                                                                        <a class="bg-cat-3 cat-btn" href="<%=category_path(category)%>"><%=category.name%></a>
                                                                    <% end %>
                                                                    <% article.states.each do |state| %>
                                                                        <a class="bg-cat-3 cat-btn" href="<%=state_path(state)%>"><%=state.name%></a>
                                                                    <% end %>
                                                                </div>
                                                                <!--display article tags-->
                                                                
                                                                <h2 class="zm-post-title"><a href="<%= article_path(article) %>"><%= article.title.truncate(60).titlecase if article.title %></a></h2>
                                                                <div class="zm-post-meta">
                                                                    <ul>
                                                                        <li class="s-meta">
                                                                            <img class='inline' style='width: 40px; height: auto; display: none;' src = "<%= asset_path(article.source.sidebar_logo) if article.source %>">
                                                                            <%= link_to article.source.name, source_path(article.source), class: 'zm-author' %>
                                                                           
                                                                        </li>
                                                                        <li class="s-meta"><p class="zm-date" style="color: #7c8c99;"><%= time_ago_in_words(article.created_at) %> ago</p></li>
                                                                        <!--<li class="s-meta"><a href="#" class="zm-date"></a></li>-->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="zm-post-content">
                                                                
                                                                <%frag = Nokogiri::HTML(article.body)%>
                                                                <%frag.xpath("//h1").each { |div|  div.name= "p"}%>
                                                                <%frag.xpath("//h2").each { |div|  div.name= "p"}%>
                                                                <%frag.xpath("//h3").each { |div|  div.name= "p"}%>
                                                                <%frag.xpath("//h4").each { |div|  div.name= "p"}%>
                                                                <%frag.xpath("//h5").each { |div|  div.name= "p"}%>
                                                                <%frag.xpath("//h6").each { |div|  div.name= "p"}%>
                                                                
                                                                <%= truncate_html frag, :length => 175 %>
                                                                
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            <% end %>
                                        <% end %>
                                       
                                    </div>
                                    <div id = 'article-index-views'>
                                        <%= render @mostviews %>
                                    </div>
                                    
                                    <div class = 'article-index-new-pagination'>
                                        <%= will_paginate @recents %>
                                    </div>
                                    <div class = 'article-index-views-pagination'>
                                        <%= will_paginate @recents %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End left side -->
        </div>
    </div>
</section>
<!-- End page content -->
    
    
        