<script>
    function dispIndexImageError(image) {
      image.onerror = "";
      image.src = "<%= asset_path 'assets/homepage/news-substitute.jpg' %>"
      return true;
    }
</script>


<% @articles.each_with_index do |article, i| %>
    
    <a href = '<%= article_path(article)%>'>
        <div class = 'homepage-article <%=article.source.name.downcase.tr(" ", "_") if article.source %>'>
            <div class = 'homepage-article-image'>
                <% if article.source && article.source.name == 'Marijuana Business Daily' %>
                    <%= link_to image_tag("homepage/news-substitute.jpg"), article_path(article) %> <!-- , :class => "img-thumbnail rounded" -->
                <% else %>
                    <img src="<%= article.image %>" onError="dispIndexImageError(this);"> <!--class="img-thumbnail rounded" alt="..." -->
                <% end %>
            </div>
            <div class = 'homepage-article-date'>
                <%= time_ago_in_words(article.created_at) %> ago
            </div>
            <div class = 'homepage-article-bottom'>
                <div class = 'homepage-article-title'>
                    <h1><%= article.title.truncate(60) if article.title %></h1>
                </div>
                <div class = 'homepage-article-source'>
                    <img src = "<%= asset_path(article.source.article_logo) if article.source %>">
                </div>
                <div class = 'homepage-article-category'>
                    
                </div>
            </div>
        </div>
    </a>
    
<% end %>