<% @articles_to_hide = [] %>

<div class = 'search-filters'>
<!--header sorting-->
    <div class = "under-search">
        <p>
            Choose Your State 
            <span class = "under-search-button" onclick="openStateNav()">
                <% if @state.present? %>
                    <%= @state.name %>
                <% else %>
                    All News
                <% end %>
            </span>    
            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            
            Sort By 
            <span class = "under-search-button sort-button" onclick="openCategoryNav()">
                <% if @sort_option.present? %>
                    <%= @sort_option.name %>
                <% else %>
                    Newest
                <% end %>
            </span>
        </p>
    </div>
</div>

<!--state logo-->
<% if @state != nil %>
    <div class = 'state-logo'>
        <img src = "<%=asset_path(@state.logo)%>">
    </div>
<% end %>

<div class="home-display">
    <div class = 'source-drawer'>
        <% if @state != nil || @category != nil || @source != nil %>
            <%= render 'pages/sidebar' %>
        <% else %>
        	<%= render 'sidebar' %>
        <% end %>
    </div>
    
    
    <div class = 'wrap'>
    
        <div class = 'article-index'>
        	<% if @state != nil || @category != nil || @source != nil%>
            	<%= render 'pages/article_loop' %>
            <% else %>
            	<%= render 'article_loop' %>
            <% end %>
        </div>
        
        <div class = 'article-index-views'>
        	<% if @state != nil || @category != nil || @source != nil%>
            	<%= render 'pages/article_loop2' %>
            <% else %>
            	<%= render 'article_loop2' %>
            <% end %>
        </div>
        
        <%= paginate @articles %>
        <%= paginate @articles_viewed %>
        
        
    </div>
</div> <!-- END HOME DISPLAY -->

<!--dont hide if it is the search page-->
<% if @query == nil %>
    <% @articles_to_hide.each do |item| %>
        <script>showOrHideArticles(document.getElementById("<%=item.name.downcase.tr(" ", "_") + '_checkbox' %>"));</script>
    <% end %>
<% end %>