<% @articles_to_hide = [] %>

<div class = 'search-filters'>
<!--header sorting-->
    <div class = "under-search">
        <p>
            Choose Your State 
            <span class = "under-search-button" onclick="openStateNav()">
                <% if @state.present? %>
                    <%= @state.name %>
                <% else %>
                    All News
                <% end %>
            </span>    
            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            
            Sort By 
            <span class = "under-search-button sort-button" onclick="openCategoryNav()">
                <% if @sort_option.present? %>
                    <%= @sort_option.name %>
                <% else %>
                    Newest
                <% end %>
            </span>
        </p>
    </div>
</div>

<!--state logo-->
<% if @state != nil %>
    <div class = 'state-logo'>
        <img src = "<%=asset_path(@state.logo)%>">
    </div>
<% end %>

<div class="home-display">
    <div class = 'source-drawer'>
        <% if @state != nil || @category != nil || @source != nil %>
            <%= render 'pages/sidebar' %>
        <% else %>
        	<%= render 'sidebar' %>
        <% end %>
    </div>
    
    
    <script>
        function userArticleSave(elem, articleId) {
            /*
                <% if !logged_in? %>
                    window.open('/login', '_self');
                <% else %>
                    $.ajax({
                        type: "PUT",
                        url: "/user_article_save/" + articleId
        	        });
                <% end %>
            */
            console.log(elem.innerHTML);
            elem.innerHtml = 'Saved';
            
            
        }
    </script>
    
    <div class = 'wrap'>
    
        <div id = 'article-index-new'>
            <%= render @recents %>
        </div>
        <div id = 'article-index-views'>
            <%= render @mostviews %>
        </div>
        
        <div class = 'article-index-new-pagination'>
            <%= will_paginate @recents %>
        </div>
        <div class = 'article-index-views-pagination'>
            <%= will_paginate @recents %>
        </div>
        
    </div>
</div> <!-- END HOME DISPLAY -->