<!--queries-->
<%
	@side_sources = Source.all
	@side_categories = Category.all
	@side_states = State.order("name ASC")
%>

<table class = 'side-bar-table'>
    <% @side_sources.each do |source| %>
        <tr>
            <td><%= check_box_tag "sources[]", source.id, {:checked => "checked"}, :id => source.name.downcase.tr(" ", "_") + '_checkbox', 
                                                    :onclick => 'showOrHideArticles(this);' %></td>
            <td><img src = "<%= asset_path(source.sidebar_logo) %>"></td>
            <td><%= source.name%></td>
        </tr>
    <% end %>
</table>

<div class = 'sidebar-plus'>
	<img src = "<%= asset_path("homepage/sidebarPlus.png")%>" onclick="openSidebarNav()" />
</div>


<!-- Sidebar Overlay -->
<div id="sidebar-overlay" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="overlay-content">
        
        <div class = 'overylay-sources overlay-table'>
            <h1>Sources</h1>
            <% @side_sources.each do |source| %>
                <div class = 'overlay-source'>
                    <img src = "<%= asset_path(source.sidebar_logo) %>">
                    <%= check_box_tag "sources[]", source.id, {:checked => "checked"}, :id => source.name.downcase.tr(" ", "_") + '_checkbox', 
                                                    :onclick => 'showOrHideArticles(this);' %>
                    
                </div>
            
            <% end %>
        </div>
        
        <% if @category.blank? %>
            <div class = 'overylay-categories overlay-table'>
                <h1>Categories</h1>
                <% @side_categories.each do |category| %>
                    <div class = 'overlay-category'>
                        <p><%=category.name%></p>
                        <%= check_box_tag "categories[]", category.id, {:checked => "checked"}, :id => category.name.downcase.tr(" ", "_") + '_checkbox', 
                                                        :onclick => 'showOrHideArticles(this);' %>
                        
                    </div>
                
                <% end %>
            </div>
        <% end %>
        
        <% if @state.blank? %>
            <div class = 'overylay-states overlay-table'>
                <h1>States</h1>
                <% @side_states.each do |state| %>
                    <div class = 'overlay-state overlay-item'>
                        <p><%=state.name%></p>
                        <%= check_box_tag "states[]", state.id, {:checked => "checked"}, :id => state.name.downcase.tr(" ", "_") + '_checkbox', 
                                                        :onclick => 'showOrHideArticles(this);' %>
                        
                    </div>
                
                <% end %>
            </div>
        <% end %>
        
    </div>

</div>



