<div class = 'wrap'>
    <h2 align = 'center'>Admin Pages: </h2>
    <table class = 'table' style = 'text-align: center;'>
        <tr>
            <td><%= link_to 'Users', users_admin_path %></td>
            <td><%= link_to 'Weekly Digest', digest_emails_admin_path %></td>
            <td><%= link_to 'States', states_admin_path %></td>
            <td><%= link_to 'Sources', source_admin_path %></td>
        </tr>
        <tr>
            <td><%= link_to 'Hashtags', hashtag_admin_path %></td>
            <td><%= link_to 'Categories', category_admin_path %></td>
            <td><%= link_to 'Articles', article_admin_path %></td>
            <td><%= link_to 'Sort Options', sort_options_admin_path %></td>
        </tr>
        <tr>
            <td><%= link_to 'Send Weekly Digest Email', digest_path %></td>
        </tr>
        
    </table>
    <div class = 'push-footer-down' style = 'height: 200px;'></div>
</div>