<div class = "wrap">
	<form id="contact-form" role="search" method="get" action = '/submit_feedback_form'>
	    <div class="controls">
	        <div class="row">
	            <div class="col-md-6">
	                <div class="form-group">
	                    <label for="form_radio">Is this your first time visiting this site?</label>
	                    <br/><%= radio_button_tag(:firstTime, "Yes") %> <%= label_tag(:firstTime, "Yes") %> 
	                    <br/><%= radio_button_tag(:firstTime, "No") %> <%= label_tag(:firstTime, "No") %>
	                    <div class="help-block with-errors"></div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-6">
	                <div class="form-group">
	                    <label for="form_message">What is the primary reason you came to this site?</label>
	                    <textarea id="form_message" name="primaryReason" class="form-control" rows="4"></textarea>
	                    <div class="help-block with-errors"></div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-6">
	                <div class="form-group">
	                    <label for="form_radio_2">Did you find everything you were looking for?</label>
	                    <br/><%= radio_button_tag(:findEverything, "Yes, all of it") %> <%= label_tag(:findEverything, "Yes, all of it") %> 
	                    <br/><%= radio_button_tag(:findEverything, "Yes, some of it") %> <%= label_tag(:findEverything, "Yes, some of it") %> 
	                    <br/><%= radio_button_tag(:findEverything, "No") %> <%= label_tag(:findEverything, "No") %> 
	                    <div class="help-block with-errors"></div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-6">
	                <div class="form-group">
	                    <label for="form_message">If you did not find any or all of what you needed, please tell us what information you were looking for.</label>
	                    <textarea id="form_message" name="reasonDidntFind" class="form-control" rows="4"></textarea>
	                    <div class="help-block with-errors"></div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-6">
	                <div class="form-group">
	                    <label for="form_radio_2">How easy is it to navigate this site?</label>
	                    <br/><%= radio_button_tag(:easyInformation, "Very Easy") %> <%= label_tag(:easyInformation, "Very Easy") %> 
	                    <br/><%= radio_button_tag(:easyInformation, "Easy") %> <%= label_tag(:easyInformation, "Easy") %>
	                    <br/><%= radio_button_tag(:easyInformation, "Average") %> <%= label_tag(:easyInformation, "Average") %>
	                    <br/><%= radio_button_tag(:easyInformation, "Difficult") %> <%= label_tag(:easyInformation, "Difficult") %>
	                    <br/><%= radio_button_tag(:easyInformation, "Very Difficult") %> <%= label_tag(:easyInformation, "Very Difficult") %>
	                    <div class="help-block with-errors"></div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-6">
	                <div class="form-group">
	                    <label for="form_radio_2">What is the likelihood that you will visit this site again?</label>
	                    <br/><%= radio_button_tag(:likelihood, "Very Likely") %> <%= label_tag(:likelihood, "Very Likely") %>
	                    <br/><%= radio_button_tag(:likelihood, "Likely") %> <%= label_tag(:likelihood, "Likely") %>
	                    <br/><%= radio_button_tag(:likelihood, "Not Likely") %> <%= label_tag(:likelihood, "Not Likely") %>
	                    <div class="help-block with-errors"></div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-6">
	                <div class="form-group">
	                    <label for="form_message">Please add any comments you have for improving the website. We welcome suggestions on specific areas for improvements, features you would like to see added to the site, and examples of what you consider good websites.</label>
	                    <textarea id="form_message" name="suggestion" class="form-control" rows="4"></textarea>
	                    <div class="help-block with-errors"></div>
	                </div>
	            </div>
	        </div>	        
	        <div class = "row">
	        	<div class="col-md-12">
	                <input type="submit" class="btn btn-send" value="Send Message">
	            </div>
	        </div>
	    </div>
	</form>
</div>


