<% @articles_to_hide = [] %>
<% article_start = 20 %>

<%=link_to "reload", url_for(params.merge(:option => 1)) %>

<div class = 'side-bar'>
    
    <%= render 'sidebar' %>
    
</div>

<div class = 'wrap'>

    <%= render 'article_layout' %>
    
</div>
<div class = 'clear'></div>
<div id = 'infinite-scrolling'><%= will_paginate @articles %></div> 

<% @articles_to_hide.each do |item| %>
    <script>showOrHideArticles(document.getElementById("<%=item.name.downcase.tr(" ", "_") + '_checkbox' %>"));</script>
<% end %>