<% @articles_to_hide = [] %>

<div class = 'search-filters'>
<!--header sorting-->
    <div class = "under-search">
        <p>
            Choose Your State 
            <span class = "under-search-button" onclick="openStateNav()">
                <% if @state.present? %>
                    <%= @state.name %>
                <% else %>
                    All News
                <% end %>
            </span>    
            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            
            Sort By 
            <span class = "under-search-button" onclick="openCategoryNav()">
                <% if @sort_option.present? %>
                    <%= @sort_option.name %>
                <% else %>
                    Newest
                <% end %>
            </span>
        </p>
    </div>
</div>

<!--state logo-->
<% if @state != nil %>
    <div class = 'state-logo'>
        <img src = "<%=asset_path(@state.logo)%>">
    </div>
<% end %>


<div class = 'source-drawer'>
    <% if @state != nil || @category != nil %>
        <%= render 'pages/sidebar' %>
    <% else %>
    	<%= render 'sidebar' %>
    <% end %>
</div>




<div class = 'wrap'>

    <div class = 'article-index'>
    	
        <%= render 'article_loop' %>
    	
    </div>
    
</div>

<div class = 'paginate-local' style = 'clear: both; width: 20%; margin: 0 auto;'>
    <%= paginate @articles %>
</div>

<% @articles_to_hide.each do |item| %>
    <script>showOrHideArticles(document.getElementById("<%=item.name.downcase.tr(" ", "_") + '_checkbox' %>"));</script>
<% end %>
