
<h1 align = 'center'>Twitter Feed of #Cannabiz </h1>
<%
# Exchange our oauth_token and oauth_token secret for the AccessToken instance.
access_token = prepare_access_token("418377285-HfXt8G0KxvBhNXQJRnnysTvt7yGAM0jWyfaIKSIU", "3QF4wvh1ESmSuKqWztD8LibyVJHhYNMcc93YlTWdrPqez")
 
# use the access token as an agent to get the home timeline
response = access_token.request(:get, "https://api.twitter.com/1.1/search/tweets.json?q=%23cannabiz&count=50&include_entities=true")

responseBody = JSON.parse(response.body)

if responseBody != nil
    
    %><div class = 'wrap'><%
        responseBody['statuses'].each do |tweet|
            %>
                <div class = 'single-tweet' style = 'margin: 20px 0; border: 1px solid black'>
                    
                    <p>Created: <%= DateTime.parse(tweet["created_at"]).strftime("%B %d, %Y | %I:%M %p") %></p>
                                    
                    <p>Tweet: <%= auto_link(tweet['text'], :html => { :target => '_blank' })%></p>
                    <p>Name: <%= tweet['user']['name']%></p>
                    <p>User: <%= tweet['user']['screen_name']%></p>
                    
                    <% if tweet['entities']['media'] != nil && tweet['entities']['media'][0]['media_url_https'] != nil %>
                         <img src="<%=tweet['entities']['media'][0]['media_url_https']%>" width = '100' height = '100'/>
                    <% end %>

                </div>

            <%
        end
    %></div><%
end
%>

