<div class='row'>
    <div class='col-xs-12'>
        <%= form_for(@average_price, :html => {class:"form-horizontal", role: "form"}) do |f| %>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :average_price %>
                </div>
                <div class="col-sm-8">
                    <%= f.number_field :average_price, :class => 'text_field', :step => 0.01 %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :average_price_unit %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_field :average_price_unit, class: "form-control", placeholder: "Average Price Unit", autofocus: true %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :units_sold %>
                </div>
                <div class="col-sm-8">
                    <%= f.number_field :units_sold, :class => 'text_field', :step => 0 %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :display_order %>
                </div>
                <div class="col-sm-8">
                    <%= f.number_field :display_order, :class => 'text_field', :step => 0 %>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="control-label col-sm-2">
                        <b>Product</b>
                    </div>
                    <div class="col-sm-8">
                        <%= f.collection_select :product_id, Product.featured.order('name ASC'), :id, :name %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <%= f.submit class: 'btn btn-lg btn-xlarge'%>
                </div>
            </div>
        <% end %>
        <div class="center">
            <%= link_to 'Return to Average Price Listing', average_price_admin_path %>
        </div>
    </div>
</div>