<!--<span class="btn btn-default btn-sm">-->
									<button type="button" class="close" data-toggle="modal" data-target="#addProductToCartModal" 
									    onclick="setAddToCartVariables('<%=@product.id%>', '<%=dispensary_key.id%>');" 
									    data-id="<%=@product.id%>"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
								<!--</span>-->
           <!--                      button_to product_items_path(product_id: @product.id, -->
           <!--                             dispensary_id: dispensary_key.dispensary_id, dsp_price_id: value.dsp_prices.first.id), class: 'btn btn-default' do-->
								   <!-- <i class="fa fa-shopping-cart"></i> Add to cart-->
							    <!--end-->

<!-- Modal for adding item to cart -->
<div class="modal fade" id="addProductToCartModal" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Unit and Quantity for Purchase from {dispensaryname}</h4>
            </div>
            
            <div class = 'ajax-spinner'>
		        <%= image_tag("icons/ajax-loader.gif") %>
		    </div>
        
            <!--form-->
            <div class="modal-body" id="addProductModalContent">
                <table>
                    <th>
                        <td>Quantity</td>
                        <td>Unit</td>
                        <td>Price</td>
                    </th>
                    <!--loop through the options for something-->
                    <% @dsp_prices.each do |dsp_price| %>
                        <tr>
                            <td><input type="text" label="Quantity"/></td>
                            <td>Unit: <%=dsp_price.unit%></td>
                            <td>Price: <%=dsp_price.price%></td>
                        </tr>
                    <% end %>
                </table>
                
                <input type = "hidden" id="productId" name = "productId"/>
                <input type = "hidden" id="dispensaryKeyId" name = "dispensaryKeyId"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default whitehover" data-dismiss="modal" onclick="addToCart();">Add</button>
                <button type="button" class="btn btn-default whitehover" data-dismiss="modal">Cancel</button>
            </div>
            <!--form-->
        </div>
    </div>
</div>