<%= render 'shared/errors', obj: @product %>

<div class='row'>
    <div class='col-xs-12'>
        <%= form_for(@product, :html => {class:"form-horizontal", role: "form"}) do |f| %>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :name %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_field :name, class: "form-control", placeholder: "Name", autofocus: true %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :description %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_field :description, class: "form-control", placeholder: "Description", autofocus: true %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :image %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_field :image, class: "form-control", placeholder: "Image Url", autofocus: true %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :image %>
                </div>
                <div class="col-sm-8">
                    <%= f.file_field :image %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :alternate_names %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_field :alternate_names, class: "form-control", placeholder: "alternate_names", autofocus: true %>
                </div>
            </div>
            
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <b>Subcategory (only for flowers / preroll)</b>
                </div>
                <div class="col-sm-8">
                    <%= f.select :sub_category, ['', 'Indica', 'Hybrid', 'Sativa']%>
                </div>
            </div>
            
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <b>Indica / Sativa Dominant (only for hybrid)</b>
                </div>
                <div class="col-sm-8">
                    <%= f.select :is_dom, ['', 'Indica', 'Sativa']%>
                </div>
            </div>
            
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <b>cbd</b>
                </div>
                <div class="col-sm-8">
                    <%= f.number_field :cbd, :class => 'text_field'%>
                </div>
            </div>
            
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <b>cbn</b>
                </div>
                <div class="col-sm-8">
                    <%= f.number_field :cbn, :class => 'text_field'%>
                </div>
            </div>
            
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <b>min_thc</b>
                </div>
                <div class="col-sm-8">
                    <%= f.number_field :min_thc, :class => 'text_field'%>
                </div>
            </div>
            
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <b>med_thc</b>
                </div>
                <div class="col-sm-8">
                    <%= f.number_field :med_thc, :class => 'text_field'%>
                </div>
            </div>
            
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <b>max_thc</b>
                </div>
                <div class="col-sm-8">
                    <%= f.number_field :max_thc, :class => 'text_field'%>
                </div>
            </div>
            
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <b>year</b>
                </div>
                <div class="col-sm-8">
                    <%= f.number_field :year, :class => 'text_field' %>
                </div>
            </div>
            
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <b>month</b>
                </div>
                <div class="col-sm-8">
                    <%= f.number_field :month, :class => 'text_field' %>
                </div>
            </div>
            
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <b>Featured Product?</b>
                </div>
                <div class="col-sm-8">
                    False: <%= f.radio_button :featured_product, false, :checked => true , :value => false %>  True: <%= 
                                    f.radio_button :featured_product, true, :value => true %>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="control-label col-sm-2">
                        <b>Category</b>
                    </div>
                    <div class="col-sm-8">
                        <%= f.collection_select :category_id, Category.where(category_type: 'Product'), :id, :name %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="control-label col-sm-2">
                        <b>Vendors</b>
                    </div>
                    <div class="col-sm-8">
                        <%= f.collection_check_boxes :vendor_ids, Vendor.all, :id, :name do |cb| %>
                            <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
                        <% end %>
                    </div>
                </div>            
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="control-label col-sm-2">
                        <b>Dispensaries</b>
                    </div>
                    <div class="col-sm-8">
                        <%= f.collection_check_boxes :dispensary_source_ids, DispensarySource.all, :id, :name do |cb| %>
                            <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
                        <% end %>
                    </div>
                </div>            
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <%= f.submit class: 'btn btn-lg btn-xlarge'%>
                </div>
            </div>
        <% end %>
        <div class="center">
            <%= link_to 'Return to Product Listing', product_admin_path %>
        </div>
    </div>
</div>