<div class = 'clear'></div>
	<div class="footer-nav">
		<div class = 'state-menu'>
			<div class="card news">
				<div class="card-img">
					<%= image_tag("homepage/icon-news-gradient.svg") %>
				</div>
				<div class="card-link button">
					<%= link_to 'News', news_path(:id => 2) %>
				</div>
			</div>
			<div class="card deals">
				<div class="card-img">
					<%= image_tag("homepage/icon-deals-gradient.svg") %>
				</div>
				<div class="card-link button">
					<%= link_to 'Deals', '#' %>
				</div>
			</div>	
			<div class="card vaporizers">
				<div class="card-img">
					<%= image_tag("homepage/icon-vaporizers-gradient.svg") %>
				</div>
				<div class="card-link button">
					<%= link_to 'Vaporizers', '#' %>
				</div>
			</div>	
			<div class="card dispensaries">
				<div class="card-img">
					<%= image_tag("homepage/icon-store-gradient.svg") %>
				</div>
				<div class="card-link button">
					<%= link_to 'Dispensaries', dispensaries_path(:id => 2) %>
				</div>
			</div>	
		</div>
	</div>
<div class="footer">
	<div class="wrap">
		<div class="footer-logo">
			<div class = 'footer-image inline'>
				<%= link_to image_tag("header_footer/cbz-logo-us-gray.svg"), root_path %>
			</div>
		    <div class = 'footer-twitter inline'>
		    	<%= image_tag("header_footer/twitter-footer.png") %><p>@CannabizNetwork</p>
		    </div>
		    <div class = 'copyright'>
		        <p>Copyright 2016 | The Cannabiz Network | All Rights Reserved</p>
		    </div>
		</div>		
	</div>
</div>	
