<div class = 'header'>
    <div class="wrap">
    <div class = 'header-left'>
        <div class = 'header-logo inline'><%= link_to image_tag("header_footer/cbz-logo-us-color.svg"), root_path %></div>
    </div>
    <div class = 'header-right'>
        <div class = 'header-login'>
            
            <p><span onclick = "openMenuNav()" style = "cursor:pointer">Menu</span> | 
            <% if logged_in? %>
                <%= link_to 'Logout', logout_path, method: :delete %></p>
            <% else %>
                <%= link_to 'Log In', login_path %> <%= link_to 'Sign Up', signup_path, :class => 'signup-button' %></p>
            <% end %>
        </div>
    </div>

    <div class = 'header-center'>

        <!--search-->
        <form class="navbar-form inline" role="search" method="get" action = '/search'>
            <input type="text" class="form-control input-lg" name='query' id ='searchQuery' placeholder="What can we help you find..." autocomplete='on'>
            <input type = 'submit' id = 'searchButton' onclick = 'search()' class = "btn btn-default btn-green-touching" value = 'Search' />
        </form>
        
    </div>
    </div>
</div>


<!-- State Overlay -->
<div id="state-overlay" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="overlay-content">
        <% State.all.order("name ASC").each do |state| %>
            <a href="<%=state_path(state)%>"><%=state.name%></a>
        <% end %>
    </div>

</div>


    
<!-- Sort Overlay -->
<div id="category-overlay" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="overlay-content">
        <% SortOption.all.order("name ASC").each do |option| %>
            <p onclick = 'changeSort(this)'><%=option.name%></p>
            
        <% end %>
    </div>

</div>

<script>
    function changeSort(elem) {
        if (elem.innerHTML == 'Most Popular') {
            $(".article-index-views").css("display", "block");
            $(".article-index").css("display", "none");
            $(".sort-button").html("Most Popular");
        } else if (elem.innerHTML == 'Newest') {
            $(".article-index-views").css("display", "none");
            $(".article-index").css("display", "block");
            $(".sort-button").html("Newest");
        }
        //hide the overlay
        closeNav();
    }
    
</script>



<!--Menu Overlay-->
<div id="menu-overlay" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <div class="overlay-content">
        <div class = 'menu-login'>
            <% if logged_in? %>
                <%= link_to 'Logout', logout_path, method: :delete %></p>
            <% else %>
                <%= link_to 'Log In', login_path %> <%= link_to 'Sign Up', signup_path, :class => 'signup-button' %></p>
            <% end %>
        </div> 
        
        <% if current_user %>
            <a href="<%= user_path(current_user)%>">My Settings</a>
        <% else %>
            <a href="<%= login_path %>">My Page</a>
        <% end %>
        
        <a href="#">About</a>
        <a href="<%= contact_us_path%>">Contact</a>
        
        <div class = "menu-small-links">
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
        </div>
        
    </div>

</div>
    

