<!-- Start of header area -->
<header  class="header-area header-wrapper clearfix" style="background-image: url('<%= asset_path 'header_footer/cbz_source_banner.png' %>'); background-size: 100%"> <!-- bg-white-->
    <div class="header-top-bar bg-dark ptb-10">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7  hidden-xs">
                    <div class="header-top-left">
                        <nav class="header-top-menu zm-secondary-menu">
                            <ul>
                                <li><%= link_to 'Cannabiz Network', root_path %></li>
                                <li style="margin-left: -10px;"><%= link_to 'Site Map', sitemap_path %></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <div class="header-top-right clierfix text-right">
                        <div class="zmaga-calendar topbar-sblock">
                            <!--<span class="calendar uppercase">Sunday, July 31, 2016 </span>-->
                        </div>
                        <div class="user-accoint topbar-sblock">
                            <% if logged_in? %>
                                <span class="login-btn uppercase"><%= link_to 'Logout', logout_path, method: :delete %></span>
                                <span class="uppercase"> | </span>
                                <span class="login-btn uppercase"><%= link_to 'Change Password', change_password_path(current_user) %></span>
                            <% else %>
                                <span class="login-btn uppercase"><%= link_to 'Login', login_path %></span>
                                <span class="uppercase"> | </span>
                                <span class="login-btn uppercase"><%= link_to 'Register', signup_path %></span>
                            <% end %>
                                <div class = 'not-on-mobile'>
                                    <span class="uppercase"> | </span>
                                    <span class="login-btn uppercase"><%= link_to 'Privacy Policy', privacy_policy_path %></span>
                                    <span class="uppercase"> | </span>
                                    <span class="login-btn uppercase"><%= link_to 'Terms & Conditions', terms_conditions_path %></span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-5 col-xs-12 header-mdh">
                    <div class="global-table">
                        <div class="global-row">
                            <div class="global-cell">
                                <div class="logo">
                                    <a href="index.html">
                                        <!--if state use the state logo-->
                                        <% if @state != nil && @state.logo != nil && @state.logo != '' %>
                                            <%= link_to image_tag(asset_path(@state.logo)), root_path %>
                                        <% else %>
                                    	    <%= link_to image_tag("header_footer/cbz-logo-color.svg"), root_path %>
                                        <% end %>
                                    </a>
                                    <p class="site-desc"> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-7 col-sm-7 col-xs-12 col-lg-offset-1 header-mdh hidden-991">
                    <div class="global-table">
                        <div class="global-row">
                            <div class="global-cell">
                                <div style="background-color: #2f2f2f;">
                                    
                                    <div class="subscribe-form subscribe-footer" style="width: 90%; margin: 0 auto; padding-bottom: 10px;"> 
                                        <h2 class="h6 zm-widget-title uppercase text-white" style="color: #fff; padding: 10px 0 5px">
                                            Subscribe To Weekly Digest</h2>
                                        <form role="search" method="get" action = '/save_email'>
                                            <input type="email" name='email' placeholder="Enter email address" required="required">
                                            <input type="submit" value="Subscribe">
                                        </form>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom-area  bg-theme hidden-sm hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="menu-wrapper clearfix">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="mainmenu-area">
                                    <nav class="primary-menu uppercase">
                                        <ul class="clearfix customnavfont">
                                            <li><%= link_to 'Home', root_path %></li>
                                            
                                            <li>
                                                <% if current_user %>
                                                    <a href="<%= user_path(current_user)%>">My Page</a>
                                                <% else %>
                                                    <a href="<%= login_path %>">My Page</a>
                                                <% end %>
                                            </li>
                                            <li><a href="<%= about_path %>">About</a></li>
                                            <li><a href="<%= contact_us_path %>">Contact Us</a></li>
                                            <li><a href="<%= feedback_path %>">Leave Feedback</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-md-1" style="padding-right: 0;">
                                <div class="search-wrap pull-right">
                                    <div class="search-form">
                                        <form class="navbar-form" role="search" method="get" action = '/search'>
                                            <input type="search" name="query" placeholder="What can we help you find..." autocomplete='on'>
                                            <button type="submit">Search</button>
                                            <!--<input type = 'submit' id = 'searchButton' onclick = 'search()' class = "btn btn-default btn-green-touching" value = 'Search' />-->
                                        </form>
                                    </div>
                                    <!--<div class="search-btn"><i class="fa fa-search"></i></div>-->
                                    <!--<div class="search-form">-->
                                    <!--   <form class="navbar-form" role="search" method="get" action = '/search'>-->
                                    <!--        <input type="search" placeholder="Search" autocomplete='on'>-->
                                    <!--        <button type="submit">Search</button>-->
                                            <!--<input type = 'submit' id = 'searchButton' onclick = 'search()' class = "btn btn-default btn-green-touching" value = 'Search' />-->
                                    <!--    </form>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area start -->
    <div class="mobile-menu-area hidden-md hidden-lg">
        <div class="fluid-container">
            <div class="mobile-menu clearfix">
                <div class="search-wrap mobile-search">
                    <div class="mobile-search-btn"><%=image_tag("icons/search.png")%></div>
                    <div class="mobile-search-form">
                        <form class="navbar-form" role="search" method="get" action = '/search'>
                            <input type="text" name="query" placeholder="What can we help you find..." autocomplete='on'>
                            <button type="submit"><%=image_tag("icons/search.png")%></button>
                        </form>
                    </div>
                </div>
                <nav id="mobile_dropdown">
                    <ul class="customnavfont">
                        
                        <li><%= link_to 'Home', root_path %></li>
                        <li>
                            <% if current_user %>
                                <a href="<%= user_path(current_user)%>">My Page</a>
                            <% else %>
                                <a href="<%= login_path %>">My Page</a>
                            <% end %>
                        </li>
                        <li><a href="<%= about_path %>">About</a></li>
                        <li><a href="<%= contact_us_path %>">Contact Us</a></li>
                        <li><a href="<%= feedback_path %>">Leave Feedback</a></li>
                        
                        <!--weekly digest signup-->
                        <li class ="mobile-digest-signup">
                            
                            <form class="mobile-digest-form" role="search" method="get" action = '/save_email'>
            		            <input type="email" class="form-control input-lg" name='email' id ='emailTextBox' placeholder="Email for Weekly Digest" autocomplete='on' required=true>
            		            <button type="submit">Sign Up</button>
            		        </form>
                		    
                        </li>
                    	
                                            
                    </ul>
                </nav>
            </div>       
        </div>
    </div>
    <!-- mobile-menu-area end -->   
    <!--below here is the breaking news thing - probably add back in future-->
    <% if @state != nil || @category != nil || @source != nil || @user != nil %>
    <!--    <div class="breakingnews-wrapper bg-gray hidden-xs">-->
    <!--        <div class="container">-->
    <!--            <div class="row">-->
    <!--                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">-->
    <!--                    <div class="breakingnews clearfix fix">-->
    <!--                        <div class="bn-title">-->
    <!--                                     <h6 class="uppercase">BREAKING NEWS</h6>
    <!--                                </div>-->
    <!--                        <div class="news-wrap">-->
    <!--                            <ul class="bkn clearfix" id="bkn">
    <!--                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.   |   Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   |   Ut enim ad minim ut labre et dolore qui magna mini.</li>-->
    <!--                                <li>Nilartstudio dolor amet, consectetur adipisicing elit.   |   Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   |   Ut enim ad minim ut labre et dolore qui magna mini.</li>-->
    <!--                            </ul>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <% end %>
</header>
    