<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>CannabizNews</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        
        <!--tether-->
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%> <!--, 'data-turbolinks-track' => true || , 'data-turbolinks-track' => true-->
        
        <%= csrf_meta_tags %>
        <!--<base target="_blank">-->
        <!--for use with lazy loading-->
        <!--<script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script> -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">-->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>-->
    </head>
    
    <body>
    
        <!--  THEME PRELOADER AREA -->
        <!--<div id="preloader-wrapper">-->
        <!--    <div class="preloader-wave-effect"></div>-->
        <!--</div>-->
        <!-- THEME PRELOADER AREA END -->
        
        <!--wrapper for all pages including header-->
        <div class="wrapper">
            <%= render 'layouts/header' %>
            <%= render 'shared/messages' %>
            <%= yield %>
            <!--removed footer rendering on all pages-->
            <% if @recents == nil %>
                <%= render 'layouts/footer' %>
            <% end %>
        </div>
        
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    </body>
</html>
