<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <!--removed favicon for work-->
        
        <!--universal meta tags-->
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content="weed, marijuana, cannabis, cannabiz, hemp, cbd, cannabiz network, medical, legal, pot, recreational, strain, 
        dispensary, vape, decriminalize, medicinal, cannabusiness, news, ganja, hydroponics, legalization, THC, terpene, cannabinoid, collective, MMJ, 
        medical marijuana, Bong, dab, Vaporizer, medicinal, charlottes web" />
        
        <% if @product != nil %>
            <title>Cannabiz Network: <%=@product.name%></title>
            <meta name ="description" content="<%= truncate_html @product.description, :length => 100 %>" />
            <meta property="og:description" content="<%= truncate_html @product.description, :length => 100 %>" />
            <meta name="twitter:description" content="<%= truncate_html @product.description, :length => 100 %>" />
        
        <% elsif @dispensary != nil %>
            <title>Cannabiz Network: <%=@dispensary.name%></title>
            <meta name ="description" 
                content="<%=@dispensary.name%> is a medical marijuana dispensary located at <%=@dispensary.location%>"/>
     
        <% elsif @vendor != nil %>
            <title>Cannabiz Network: <%=@vendor.name%></title>
            <meta name ="description" content="<%= truncate_html @vendor.description, :length => 100 %>" />
            <meta property="og:description" content="<%= truncate_html @vendor.description, :length => 100 %>" />
            <meta name="twitter:description" content="<%= truncate_html @vendor.description, :length => 100 %>" />
        
        
        <% elsif @article != nil %>

            <title>Cannabiz Network: <%=@article.title%></title>
            
            <!--facebook-->
            <meta property="og:title" content="Cannabiz Network: <%=@article.title%>" />
            
            <meta property="og:url" content="https://cannabiznetwork.com" />
            <meta property="og:type" content="article" />

            <!--twitter-->
            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:site" content="@CannabizNetwork" />
            <meta name="twitter:title" content="<%=@article.title%>"/>
            
            <meta name="twitter:url" content="https://cannabiznetwork.com" />
            
            <!--images-->
            <% if @article.image_url != nil && @article.image_url != ''%>
                <meta name="twitter:image" content="<%=@article.image%>" />
                <meta property="og:image" content="<%=@article.image%>" />
            <% else %>
                <meta name="twitter:image" content="<%= asset_url(@article.source.sidebar_logo) if @article.source %>" />
                <meta property="og:image" content="<%= asset_url(@article.source.sidebar_logo) if @article.source %>" />
            <% end %>
            
            <!--description-->
            <%frag = Nokogiri::HTML(@article.body)%>
            <%frag.xpath("//h1").each { |div|  div.name= "p"}%>
            <%frag.xpath("//h2").each { |div|  div.name= "p"}%>
            <%frag.xpath("//h3").each { |div|  div.name= "p"}%>
            <%frag.xpath("//h4").each { |div|  div.name= "p"}%>
            <%frag.xpath("//h5").each { |div|  div.name= "p"}%>
            <%frag.xpath("//h6").each { |div|  div.name= "p"}%>
            
            <meta name ="description" content="<%= truncate_html frag, :length => 100 %>" />
            <meta property="og:description" content="<%= truncate_html frag, :length => 100 %>" />
            <meta name="twitter:description" content="<%= truncate_html frag, :length => 100 %>" />
        <% else %>
           <!--not a show page-->
           <title>Cannabiz Network</title>
            
            <!--meta tags set only on no article-->
            <meta name ="description" 
                content="Providing you with the most up to date news aggregated from the most trusted cannabis resources in the industry."/>
     
        <% end %>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        
        <!--tether-->
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%> <!--, 'data-turbolinks-track' => true || , 'data-turbolinks-track' => true-->
        <%= csrf_meta_tags %>
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58c8388905e7400012bc6df2&product=inline-share-buttons"></script>

        <!--google analytics-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-96167975-1', 'auto');
          ga('send', 'pageview');
        </script>
        
    </head>
    
    <body>
        
        <!--wrapper for all pages including header-->
        <div class="wrapper">
            <%= render 'layouts/header' %>
            <%= render 'shared/messages' %>
            <%= yield %>
            <!--removed footer rendering on all pages-->
            <% if @recents == nil %>
                <%= render 'layouts/footer' %>
            <% end %>
        </div>
        
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        
        <!--set product or dispensary form values-->
        <% if @set_state.present? %>
            <script>
            	window.onload = setSelectedState('<%=@set_state%>');
            </script>
        <% end %>
        <% if @searched_category.present? %>
            <script>
            	window.onload = setSelectedCategory('<%=@searched_category.name%>');
            </script>
        <% end %>
        <% if @az_letter.present? %>
            <script>
            	// set the parameter in the form
            	window.onload = selectSelectedAZValue('<%=@az_letter%>');
            </script>
        <% end %>
    </body>
</html>
