<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <% if @article == nil %>
            <title>CannabizNetwork</title>
        <% else %>

            <title><%=@article.title%></title>
            <meta property="og:title" content="<%=@article.title%>" />
            <meta property="og:image" content="<%=@article.image%>" />
            <meta property="og:url" content="https://cannbiz-news.herokuapp.com" />
            <meta property="og:type"               content="article" />

            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:site" content="@CannabizNetwork" />
            <meta name="twitter:title" content="<%=@article.title%>"/>
            <meta name="twitter:image" content="<%=@article.image%>" />
            <meta name="twitter:url" content="https://cannbiz-news.herokuapp.com" />
            
            <%frag = Nokogiri::HTML(@article.body)%>
            <%frag.xpath("//h1").each { |div|  div.name= "p"}%>
            <%frag.xpath("//h2").each { |div|  div.name= "p"}%>
            <%frag.xpath("//h3").each { |div|  div.name= "p"}%>
            <%frag.xpath("//h4").each { |div|  div.name= "p"}%>
            <%frag.xpath("//h5").each { |div|  div.name= "p"}%>
            <%frag.xpath("//h6").each { |div|  div.name= "p"}%>
            
            <meta property="og:description" content="<%= truncate_html frag, :length => 100 %>" />
            <meta name="twitter:description" content="<%= truncate_html frag, :length => 100 %>" />
            
            
        <% end %>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        
        <!--tether-->
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%> <!--, 'data-turbolinks-track' => true || , 'data-turbolinks-track' => true-->
        
        <%= csrf_meta_tags %>
        <!--<base target="_blank">-->
        <!--for use with lazy loading-->
        <!--<script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script> -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">-->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>-->
        
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58c8388905e7400012bc6df2&product=inline-share-buttons"></script>
    </head>
    
    <body>
        
        <!--facebook share-->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=863173663775042";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    
        <!--  THEME PRELOADER AREA -->
        <!--<div id="preloader-wrapper">-->
        <!--    <div class="preloader-wave-effect"></div>-->
        <!--</div>-->
        <!-- THEME PRELOADER AREA END -->
        
        <!--wrapper for all pages including header-->
        <div class="wrapper">
            <%= render 'layouts/header' %>
            <%= render 'shared/messages' %>
            <%= yield %>
            <!--removed footer rendering on all pages-->
            <% if @recents == nil %>
                <%= render 'layouts/footer' %>
            <% end %>
        </div>
        
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    </body>
</html>
