<!DOCTYPE html>
<html>
<head>
  <title>CannabizNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--<base target="_blank">-->
</head>
<body>
<body>
  
<%= render 'layouts/header' %>
<%= render 'shared/messages' %>
<%= yield %>
<%= render 'layouts/footer' %>

</body>

</body>
</html>
