<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <%= favicon_link_tag 'favicon.ico' %>
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content="weed, marijuana, cannabis, cannabiz, hemp, cbd, cannabiz network, medical, legal, pot, recreational, strain, 
        dispensary, vape, decriminalize, medicinal, cannabusiness, news, ganja, hydroponics, legalization, THC, terpene, cannabinoid, collective, MMJ, 
        medical marijuana, Bong, dab, Vaporizer, medicinal, charlottes web" />
        <% if @article == nil %>
            <% if @state != nil %>
                <title><%=@state.name%> Cannabiz News</title>
            <% elsif @category != nil %>
                <title><%=@category.name%> Cannabiz News</title>
            <% elsif @source != nil %>
                <title><%=@source.name%> Cannabiz News</title>
            <% else %>
                <title>CannabizNetwork</title>
            <% end %>
            <meta name ="description" 
                content="Providing you with the most up to date news aggregated from the most trusted cannabis resources in the industry."/>
        <% else %>
            <title><%=@article.title%></title>
            <meta property="og:title" content="<%=@article.title%>" />
            <meta property="og:url" content="https://cannabiznetwork.com" />
            <meta property="og:type" content="article" />
            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:site" content="@CannabizNetwork" />
            <meta name="twitter:title" content="<%=@article.title%>"/>
            <meta name="twitter:url" content="https://cannabiznetwork.com" />
            <% if @article.image_url != nil && @article.image_url != ''%>
                <meta name="twitter:image" content="<%=@article.image%>" />
                <meta property="og:image" content="<%=@article.image%>" />
            <% else %>
                <meta name="twitter:image" content="<%= asset_url(@article.source.sidebar_logo) if @article.source %>" />
                <meta property="og:image" content="<%= asset_url(@article.source.sidebar_logo) if @article.source %>" />
            <% end %>
            <%frag = Nokogiri::HTML(@article.body)%>
            <meta property="og:description" content="<%= truncate_html frag, :length => 100 %>" />
            <meta name="twitter:description" content="<%= truncate_html frag, :length => 100 %>" />
            <meta name="description" content="<%= truncate_html frag, :length => 100 %>" />
            <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58c8388905e7400012bc6df2&product=inline-share-buttons"></script>
        <% end %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%> <!--, 'data-turbolinks-track' => true || , 'data-turbolinks-track' => true-->
        <%= csrf_meta_tags %>
        
    </head>
    <body>
        <div class="wrapper">
            <%= render 'layouts/header' %>
            <%= render 'shared/messages' %>
            <%= yield %>
            <% if @recents == nil %>
                <%= render 'layouts/footer' %>
            <% end %>
        </div>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        
        <!--google analytics-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-96167975-1', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>